<div class="modal-header">
  <h4 class="modal-title">Logga in</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Användarnamn</label>
      <input [(ngModel)]="username" name="username" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Lösenord</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" />
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button class="btn btn-primary" type="submit">Logga in</button>
  </form>
</div>